<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinic</title>
    <style>
        body, html {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .container {
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .gallery {
            display: block;
            max-width: 100%;
            max-height: 100%;
            margin-left: auto; /* Căn chỉnh từ bên lề trái */
            margin-right: auto; /* Căn chỉnh từ bên lề phải */
        }

        .image {
            display: inline-block;
            width: 100%;
            max-width: 300px; /* Điều chỉnh kích thước tối đa của khung ảnh */
            text-align: center;
        }

        .image img {
            width: 100%;
            height: auto;
            max-width: 100%; /* Điều chỉnh kích thước tối đa của ảnh */
        }

        .description {
            text-align: center;
        }

        .button-description {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            margin-top: 10px; /* Thêm khoảng cách từ nút bấm đến ảnh */
        }

        h1 {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Các phòng khám</h1>
        <div class="gallery">
            <% clinics.forEach(function(clinic) { %>
                <div class="image">
                    <img src="<%= clinic.image %>" alt="<%= clinic.name %>">
                    <button class="button-description" onclick="window.location.href='/clinic/<%= clinic.slug %>'"><%= clinic.name %></button>
                </div>
            <% }); %>
        </div>
    </div>
</body>
</html>
