<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chuyên khoa Thần kinh</title>
</head>
<body>
    <h1>Chuyên khoa Thần kinh</h1>
    <p>Các bệnh lý liên quan đến hệ thần kinh là những bệnh lý vô cùng nguy hiểm và đang ngày một gia tăng tại Việt Nam.
Trong đó, các bệnh lý nội thần kinh bao gồm: đột quỵ, đau đầu, đau nửa đầu, mất ngủ, suy giảm trí nhớ, động kinh, chóng mặt, rối loạn tiền đình, bệnh thần kinh ngoại biên… Các bệnh lý ngoại thần kinh bao gồm: chấn thương sọ não, u não, u tuyến yên, u trong ống sống
tủy sống, các bệnh lý cột sống thần kinh như thoát vị đĩa đệm cột sống cổ, thoát vị đĩa đệm cột sống lưng, trượt đốt sống…</p>
</body>
</html>
